Repository Aias00/kong, changes with the labels that .github/labeler.yml gives for each.
All labels: core/admin-api, core/balancer, core/cli, core/clustering, core/configuration, core/db/migrations, core/db, changelog, core/docs, autodoc, core/language/go, core/language/js, core/language/python, core/logs, core/pdk, core/proxy, core/router, core/templates, core/tracing, chore, plugins/acl, plugins/acme, plugins/aws-lambda, plugins/azure-functions, plugins/basic-auth, plugins/bot-detection, plugins/correlation-id, plugins/cors, plugins/datadog, plugins/file-log, plugins/grpc-gateway, plugins/grpc-web, plugins/hmac-auth, plugins/http-log, plugins/ip-restriction, plugins/jwt, plugins/key-auth, plugins/ldap-auth, plugins/loggly, plugins/oauth2, plugins/opentelemetry, plugins/prometheus, plugins/proxy-cache, plugins/rate-limiting, plugins/request-size-limiting, plugins/request-termination, plugins/request-transformer, plugins/response-ratelimiting, plugins/response-transformer, plugins/session, plugins/serverless-functions, plugins/statsd, plugins/syslog, plugins/tcp-log, plugins/udp-log, plugins/zipkin, plugins-ee/app-dynamics, plugins-ee/application-registration, plugins-ee/canary, plugins-ee/degraphql, plugins-ee/exit-transformer, plugins-ee/forward-proxy, plugins-ee/graphql-proxy-cache-advanced, plugins-ee/graphql-rate-limiting-advanced, plugins-ee/jq, plugins-ee/jwe-decrypt, plugins-ee/jwt-signer, plugins-ee/kafka-log, plugins-ee/kafka-upstream, plugins-ee/key-auth-enc, plugins-ee/konnect-application-auth, plugins-ee/ldap-auth-advanced, plugins-ee/mocking, plugins-ee/mtls-auth, plugins-ee/oas-validation, plugins-ee/oauth2-introspection, plugins-ee/opa, plugins-ee/openid-connect, plugins-ee/proxy-cache-advanced, plugins-ee/rate-limiting-advanced, plugins-ee/request-transformer-advanced, plugins-ee/request-validator, plugins-ee/response-transformer-advanced, plugins-ee/route-by-header, plugins-ee/route-transformer-advanced, plugins-ee/saml, plugins-ee/statsd-advanced, plugins-ee/tls-handshake-modifier, plugins-ee/tls-metadata-headers, plugins-ee/upstream-timeout, plugins-ee/vault-auth, plugins-ee/websocket-size-limit, plugins-ee/websocket-validator, plugins-ee/xml-threat-protection, copyright, schema-change-noteworthy, build/bazel, e2e-api-testing

.github/labeler.yml:

core/admin-api:
- kong/api/**/*

core/balancer:
- kong/runloop/balancer/*

core/cli:
- kong/cmd/**/*

core/clustering:
- kong/clustering/**/*
- kong/cluster_events/**/*

core/configuration:
- kong/conf_loader/*

core/db/migrations:
- kong/db/migrations/**/*

core/db:
- any: ['kong/db/**/*', '!kong/db/migrations/**/*']

changelog:
- CHANGELOG.md

core/docs:
- any: ['**/*.md', '!CHANGELOG.md']

autodoc:
- 'autodoc/**/*'

core/language/go:
- kong/runloop/plugin_servers/*

core/language/js:
- kong/runloop/plugin_servers/*

core/language/python:
- kong/runloop/plugin_servers/*

core/logs:
- kong/pdk/log.lua

core/pdk:
- any: ['kong/pdk/**/*', '!kong/pdk/log.lua']

core/proxy:
- any: ['kong/runloop/**/*', '!kong/runloop/balancer/*', '!kong/runloop/plugin_servers/*']

core/router:
- kong/router.lua

core/templates:
- kong/templates/*

core/tracing:
- kong/tracing/**/*
- kong/pdk/tracing.lua

chore:
- .github/**/*
- .devcontainer/**/*

plugins/acl:
- kong/plugins/acl/**/*

plugins/acme:
- kong/plugins/acme/**/*

plugins/aws-lambda:
- kong/plugins/aws-lambda/**/*

plugins/azure-functions:
- kong/plugins/azure-functions/**/*

plugins/basic-auth:
- kong/plugins/basic-auth/**/*

plugins/bot-detection:
- kong/plugins/bot-detection/**/*

plugins/correlation-id:
- kong/plugins/correlation-id/**/*

plugins/cors:
- kong/plugins/cors/**/*

plugins/datadog:
- kong/plugins/datadog/**/*

plugins/file-log:
- kong/plugins/file-log/**/*

plugins/grpc-gateway:
- kong/plugins/grpc-gateway/**/*

plugins/grpc-web:
- kong/plugins/grpc-web/**/*

plugins/hmac-auth:
- kong/plugins/hmac-auth/**/*

plugins/http-log:
- kong/plugins/http-log/**/*

plugins/ip-restriction:
- kong/plugins/ip-restriction/**/*

plugins/jwt:
- kong/plugins/jwt/**/*

plugins/key-auth:
- kong/plugins/key-auth/**/*

plugins/ldap-auth:
- kong/plugins/ldap-auth/**/*

plugins/loggly:
- kong/plugins/loggly/**/*

plugins/oauth2:
- kong/plugins/oauth2/**/*

plugins/opentelemetry:
- kong/plugins/opentelemetry/**/*

plugins/prometheus:
- kong/plugins/prometheus/**/*

plugins/proxy-cache:
- kong/plugins/proxy-cache/**/*

plugins/rate-limiting:
- kong/plugins/rate-limiting/**/*

plugins/request-size-limiting:
- kong/plugins/request-size-limiting/**/*

plugins/request-termination:
- kong/plugins/request-termination/**/*

plugins/request-transformer:
- kong/plugins/request-transformer/**/*

plugins/response-ratelimiting:
- kong/plugins/response-ratelimiting/**/*

plugins/response-transformer:
- kong/plugins/response-transformer/**/*

plugins/session:
- kong/plugins/session/**/*

plugins/serverless-functions:
- kong/plugins/post-function/**/*
- kong/plugins/pre-function/**/*

plugins/statsd:
- kong/plugins/statsd/**/*

plugins/syslog:
- kong/plugins/syslog/**/*

plugins/tcp-log:
- kong/plugins/tcp-log/**/*

plugins/udp-log:
- kong/plugins/udp-log/**/*

plugins/zipkin:
- kong/plugins/zipkin/**/*

plugins-ee/app-dynamics:
- plugins-ee/app-dynamics/**/*

plugins-ee/application-registration:
- plugins-ee/application-registration/**/*

plugins-ee/canary:
- plugins-ee/canary/**/*

plugins-ee/degraphql:
- plugins-ee/degraphql/**/*

plugins-ee/exit-transformer:
- plugins-ee/exit-transformer/**/*

plugins-ee/forward-proxy:
- plugins-ee/forward-proxy/**/*

plugins-ee/graphql-proxy-cache-advanced:
- plugins-ee/graphql-proxy-cache-advanced/**/*

plugins-ee/graphql-rate-limiting-advanced:
- plugins-ee/graphql-rate-limiting-advanced/**/*

plugins-ee/jq:
- plugins-ee/jq/**/*

plugins-ee/jwe-decrypt:
- plugins-ee/jwe-decrypt/**/*

plugins-ee/jwt-signer:
- plugins-ee/jwt-signer/**/*

plugins-ee/kafka-log:
- plugins-ee/kafka-log/**/*

plugins-ee/kafka-upstream:
- plugins-ee/kafka-upstream/**/*

plugins-ee/key-auth-enc:
- plugins-ee/key-auth-enc/**/*

plugins-ee/konnect-application-auth:
- plugins-ee/konnect-application-auth/**/*

plugins-ee/ldap-auth-advanced:
- plugins-ee/ldap-auth-advanced/**/*

plugins-ee/mocking:
- plugins-ee/mocking/**/*

plugins-ee/mtls-auth:
- plugins-ee/mtls-auth/**/*

plugins-ee/oas-validation:
- plugins-ee/oas-validation/**/*

plugins-ee/oauth2-introspection:
- plugins-ee/oauth2-introspection/**/*

plugins-ee/opa:
- plugins-ee/opa/**/*

plugins-ee/openid-connect:
- plugins-ee/openid-connect/**/*

plugins-ee/proxy-cache-advanced:
- plugins-ee/proxy-cache-advanced/**/*

plugins-ee/rate-limiting-advanced:
- plugins-ee/rate-limiting-advanced/**/*

plugins-ee/request-transformer-advanced:
- plugins-ee/request-transformer-advanced/**/*

plugins-ee/request-validator:
- plugins-ee/request-validator/**/*

plugins-ee/response-transformer-advanced:
- plugins-ee/response-transformer-advanced/**/*

plugins-ee/route-by-header:
- plugins-ee/route-by-header/**/*

plugins-ee/route-transformer-advanced:
- plugins-ee/route-transformer-advanced/**/*

plugins-ee/saml:
- plugins-ee/saml/**/*

plugins-ee/statsd-advanced:
- plugins-ee/statsd-advanced/**/*

plugins-ee/tls-handshake-modifier:
- plugins-ee/tls-handshake-modifier/**/*

plugins-ee/tls-metadata-headers:
- plugins-ee/tls-metadata-headers/**/*

plugins-ee/upstream-timeout:
- plugins-ee/upstream-timeout/**/*

plugins-ee/vault-auth:
- plugins-ee/vault-auth/**/*

plugins-ee/websocket-size-limit:
- plugins-ee/websocket-size-limit/**/*

plugins-ee/websocket-validator:
- plugins-ee/websocket-validator/**/*

plugins-ee/xml-threat-protection:
- plugins-ee/xml-threat-protection/**/*

copyright:
- COPYRIGHT

schema-change-noteworthy:
- kong/db/schema/**/*.lua
- kong/**/schema.lua
- kong/plugins/**/daos.lua
- plugins-ee/**/daos.lua
- plugins-ee/**/schema.lua
- kong/db/dao/*.lua

build/bazel:
- '**/*.bazel'
- '**/*.bzl'
- build/**/*
- WORKSPACE
- .bazelignore
- .bazelrc
- .bazelversion
- scripts/build-*.sh

e2e-api-testing:
- spec-ee/kong-api-tests/**/*
- .github/workflows/gateway-api-tests.yml
- .github/workflows/gateway-api-tests-matrix.yml
- .github/actions/gw-slack-results/action.yml

feat(pdk): refine origin header fetch to make behavior consistent with previous
  kong/plugins/cors/handler.lua
Labels: plugins/cors

feat(pdk): refine more header fetch to make behavior consistent with previous
  kong/plugins/basic-auth/access.lua
  kong/plugins/grpc-web/handler.lua
  kong/plugins/hmac-auth/access.lua
  kong/plugins/oauth2/access.lua
Labels: plugins/basic-auth, plugins/grpc-web, plugins/hmac-auth, plugins/oauth2

feat(pdk): remove unnecessary change
  kong/pdk/request.lua
Labels: core/pdk

tests(keys): add admin-api-keys tests
  spec/02-integration/04-admin_api/21-admin-api-keys_spec.lua
Labels: none

test: fix spec/01-unit/19-hybrid/03-compat_spec.lua
  spec/01-unit/19-hybrid/03-compat_spec.lua
Labels: none

fix(keys): set_id_type check and x5t check
  kong/db/dao/keys.lua
  kong/db/schema/entities/keys.lua
Labels: core/db, schema-change-noteworthy

fix(keys): add partial unique index on keys(x5t) when set_id is null
  kong-3.10.0-0.rockspec
  kong/db/migrations/core/025_390_to_3100.lua
  kong/db/strategies/off/keys.lua
  spec/02-integration/03-db/18-keys_spec.lua
Labels: core/db/migrations, core/db

fix(keys): fix typos
  kong/db/dao/keys.lua
  kong/db/schema/entities/keys.lua
Labels: core/db, schema-change-noteworthy

fix(db): migration 025_390_to_3100 was not included
  kong/db/migrations/core/init.lua
  spec/05-migration/db/migrations/core/025_390_to_3100_spec.lua
Labels: core/db/migrations

fix(keys): change to make unique constraint on x5t and set_id
  kong/db/dao/keys.lua
  kong/db/migrations/core/025_390_to_3100.lua
  kong/db/schema/entities/keys.lua
  kong/db/strategies/off/keys.lua
  kong/db/strategies/postgres/keys.lua
  spec/02-integration/03-db/18-keys_spec.lua
Labels: core/db/migrations, core/db, schema-change-noteworthy

feat(keys): add a new field `x5t` to the entity `keys`
  changelog/unreleased/kong/feat-keys-adds-x5t.yml
  kong/clustering/compat/checkers.lua
  kong/db/migrations/core/025_390_to_3100.lua
  kong/db/schema/entities/keys.lua
  spec/01-unit/19-hybrid/03-compat_spec.lua
  spec/02-integration/03-db/18-keys_spec.lua
  spec/05-migration/db/migrations/core/025_390_to_3100_spec.lua
Labels: core/clustering, core/db/migrations, core/db, schema-change-noteworthy

tests(migrations): add test to detect un-listed migration file
  spec/01-unit/01-db/12-missing-migrations_spec.lua
Labels: none
