Repository Aias00/kong, changes with the labels that .github/labeler.yml gives for each.
All labels: core/admin-api, core/balancer, core/cli, core/clustering, core/configuration, core/db/migrations, changelog, autodoc, core/language/go, core/language/js, core/language/python, core/logs, core/router, core/templates, core/tracing, core/wasm, chore, plugins/acl, plugins/acme, plugins/ai-proxy, plugins/ai-prompt-decorator, plugins/ai-prompt-template, plugins/ai-request-transformer, plugins/ai-response-transformer, plugins/ai-prompt-guard, plugins/aws-lambda, plugins/azure-functions, plugins/basic-auth, plugins/bot-detection, plugins/correlation-id, plugins/cors, plugins/datadog, plugins/file-log, plugins/grpc-gateway, plugins/grpc-web, plugins/hmac-auth, plugins/http-log, plugins/ip-restriction, plugins/jwt, plugins/key-auth, plugins/ldap-auth, plugins/loggly, plugins/oauth2, plugins/prometheus, plugins/proxy-cache, plugins/rate-limiting, plugins/request-size-limiting, plugins/request-termination, plugins/request-transformer, plugins/response-ratelimiting, plugins/response-transformer, plugins/session, plugins/serverless-functions, plugins/statsd, plugins/syslog, plugins/tcp-log, plugins/udp-log, plugins/zipkin, plugins/opentelemetry, plugins/app-dynamics, plugins/application-registration, plugins/canary, plugins/degraphql, plugins/exit-transformer, plugins/forward-proxy, plugins/graphql-proxy-cache-advanced, plugins-ee/graphql-rate-limiting-advanced, plugins/jq, plugins/jwe-decrypt, plugins/key-auth-enc, plugins/mocking, plugins/oauth2-introspection, plugins/request-transformer-advanced, plugins/response-transformer-advanced, plugins/route-by-header, plugins/route-transformer-advanced, plugins/statsd-advanced, plugins/tls-handshake-modifier, plugins/tls-metadata-headers, plugins/upstream-timeout, plugins/websocket-size-limit, plugins/websocket-validator, plugins/xml-threat-protection, plugins/ai-proxy-advanced, plugins-ee/ai-azure-content-safety, plugins-ee/oas-validation, plugins-ee/jwt-signer, plugins-ee/kafka-log, plugins-ee/kafka-upstream, plugins-ee/konnect-application-auth, plugins-ee/ldap-auth-advanced, plugins-ee/mtls-auth, plugins-ee/opa, plugins-ee/openid-connect, plugins-ee/proxy-cache-advanced, plugins-ee/rate-limiting-advanced, plugins-ee/ai-rate-limiting-advanced, plugins-ee/request-validator, plugins-ee/saml, plugins-ee/vault-auth, copyright, plugins/standard-webhooks, schema-change-noteworthy, e2e-api-testing, build/bazel

feat(pdk): refine origin header fetch to make behavior consistent with previous
  kong/plugins/cors/handler.lua
Labels: plugins/cors

feat(pdk): refine more header fetch to make behavior consistent with previous
  kong/plugins/basic-auth/access.lua
  kong/plugins/grpc-web/handler.lua
  kong/plugins/hmac-auth/access.lua
  kong/plugins/oauth2/access.lua
Labels: plugins/basic-auth, plugins/grpc-web, plugins/hmac-auth, plugins/oauth2

feat(pdk): remove unnecessary change
  kong/pdk/request.lua
Labels: none

tests(keys): add admin-api-keys tests
  spec/02-integration/04-admin_api/21-admin-api-keys_spec.lua
Labels: none

test: fix spec/01-unit/19-hybrid/03-compat_spec.lua
  spec/01-unit/19-hybrid/03-compat_spec.lua
Labels: none

fix(keys): set_id_type check and x5t check
  kong/db/dao/keys.lua
  kong/db/schema/entities/keys.lua
Labels: schema-change-noteworthy

fix(keys): add partial unique index on keys(x5t) when set_id is null
  kong-3.10.0-0.rockspec
  kong/db/migrations/core/025_390_to_3100.lua
  kong/db/strategies/off/keys.lua
  spec/02-integration/03-db/18-keys_spec.lua
Labels: core/db/migrations

fix(keys): fix typos
  kong/db/dao/keys.lua
  kong/db/schema/entities/keys.lua
Labels: schema-change-noteworthy

fix(db): migration 025_390_to_3100 was not included
  kong/db/migrations/core/init.lua
  spec/05-migration/db/migrations/core/025_390_to_3100_spec.lua
Labels: core/db/migrations

fix(keys): change to make unique constraint on x5t and set_id
  kong/db/dao/keys.lua
  kong/db/migrations/core/025_390_to_3100.lua
  kong/db/schema/entities/keys.lua
  kong/db/strategies/off/keys.lua
  kong/db/strategies/postgres/keys.lua
  spec/02-integration/03-db/18-keys_spec.lua
Labels: core/db/migrations, schema-change-noteworthy

feat(keys): add a new field `x5t` to the entity `keys`
  changelog/unreleased/kong/feat-keys-adds-x5t.yml
  kong/clustering/compat/checkers.lua
  kong/db/migrations/core/025_390_to_3100.lua
  kong/db/schema/entities/keys.lua
  spec/01-unit/19-hybrid/03-compat_spec.lua
  spec/02-integration/03-db/18-keys_spec.lua
  spec/05-migration/db/migrations/core/025_390_to_3100_spec.lua
Labels: core/clustering, core/db/migrations, schema-change-noteworthy

tests(migrations): add test to detect un-listed migration file
  spec/01-unit/01-db/12-missing-migrations_spec.lua
Labels: none

.github/labeler.yml:

core/admin-api:
- changed-files:
  - any-glob-to-any-file: kong/api/**/*

core/balancer:
- changed-files:
  - any-glob-to-any-file: kong/runloop/balancer/*

core/cli:
- changed-files:
  - any-glob-to-any-file: kong/cmd/**/*

core/clustering:
- changed-files:
  - any-glob-to-any-file: ['kong/clustering/**/*', 'kong/cluster_events/**/*']

core/configuration:
- changed-files:
  - any-glob-to-any-file: kong/conf_loader/*

core/db/migrations:
- changed-files:
  - any-glob-to-any-file: kong/db/migrations/**/*

core/db:
- changed-files:
  - all-globs-to-any-file: ['kong/db/**/*', '!kong/db/migrations/**/*']

changelog:
- changed-files:
  - any-glob-to-any-file: CHANGELOG.md

core/docs:
- changed-files:
  - all-globs-to-any-file: ['**/*.md', '!CHANGELOG.md']

autodoc:
- changed-files:
  - any-glob-to-any-file: 'autodoc/**/*'

core/language/go:
- changed-files:
  - any-glob-to-any-file: kong/runloop/plugin_servers/*

core/language/js:
- changed-files:
  - any-glob-to-any-file: kong/runloop/plugin_servers/*

core/language/python:
- changed-files:
  - any-glob-to-any-file: kong/runloop/plugin_servers/*

core/logs:
- changed-files:
  - any-glob-to-any-file: kong/pdk/log.lua

core/pdk:
- changed-files:
  - all-globs-to-any-file: ['kong/pdk/**/*', '!kong/pdk/log.lua']

core/proxy:
- changed-files:
  - all-globs-to-any-file: ['kong/runloop/**/*', '!kong/runloop/balancer/*', '!kong/runloop/plugin_servers/*']

core/router:
- changed-files:
  - any-glob-to-any-file: kong/router/*

core/templates:
- changed-files:
  - any-glob-to-any-file: kong/templates/*

core/tracing:
- changed-files:
  - any-glob-to-any-file: ['kong/observability/tracing/**/*', 'kong/pdk/tracing.lua']

core/wasm:
- changed-files:
  - any-glob-to-any-file: ['kong/runloop/wasm.lua', 'kong/runloop/wasm/**/*']

chore:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.devcontainer/**/*']

plugins/acl:
- changed-files:
  - any-glob-to-any-file: kong/plugins/acl/**/*

plugins/acme:
- changed-files:
  - any-glob-to-any-file: kong/plugins/acme/**/*

plugins/ai-proxy:
- changed-files:
  - any-glob-to-any-file: ['kong/plugins/ai-proxy/**/*', 'kong/llm/**/*']

plugins/ai-prompt-decorator:
- changed-files:
  - any-glob-to-any-file: kong/plugins/ai-prompt-decorator/**/*

plugins/ai-prompt-template:
- changed-files:
  - any-glob-to-any-file: kong/plugins/ai-prompt-template/**/*

plugins/ai-request-transformer:
- changed-files:
  - any-glob-to-any-file: ['kong/plugins/ai-request-transformer/**/*', 'kong/llm/**/*']

plugins/ai-response-transformer:
- changed-files:
  - any-glob-to-any-file: ['kong/plugins/ai-response-transformer/**/*', 'kong/llm/**/*']

plugins/ai-prompt-guard:
- changed-files:
  - any-glob-to-any-file: kong/plugins/ai-prompt-guard/**/*

plugins/aws-lambda:
- changed-files:
  - any-glob-to-any-file: kong/plugins/aws-lambda/**/*

plugins/azure-functions:
- changed-files:
  - any-glob-to-any-file: kong/plugins/azure-functions/**/*

plugins/basic-auth:
- changed-files:
  - any-glob-to-any-file: kong/plugins/basic-auth/**/*

plugins/bot-detection:
- changed-files:
  - any-glob-to-any-file: kong/plugins/bot-detection/**/*

plugins/correlation-id:
- changed-files:
  - any-glob-to-any-file: kong/plugins/correlation-id/**/*

plugins/cors:
- changed-files:
  - any-glob-to-any-file: kong/plugins/cors/**/*

plugins/datadog:
- changed-files:
  - any-glob-to-any-file: kong/plugins/datadog/**/*

plugins/file-log:
- changed-files:
  - any-glob-to-any-file: kong/plugins/file-log/**/*

plugins/grpc-gateway:
- changed-files:
  - any-glob-to-any-file: kong/plugins/grpc-gateway/**/*

plugins/grpc-web:
- changed-files:
  - any-glob-to-any-file: kong/plugins/grpc-web/**/*

plugins/hmac-auth:
- changed-files:
  - any-glob-to-any-file: kong/plugins/hmac-auth/**/*

plugins/http-log:
- changed-files:
  - any-glob-to-any-file: kong/plugins/http-log/**/*

plugins/ip-restriction:
- changed-files:
  - any-glob-to-any-file: kong/plugins/ip-restriction/**/*

plugins/jwt:
- changed-files:
  - any-glob-to-any-file: kong/plugins/jwt/**/*

plugins/key-auth:
- changed-files:
  - any-glob-to-any-file: kong/plugins/key-auth/**/*

plugins/ldap-auth:
- changed-files:
  - any-glob-to-any-file: kong/plugins/ldap-auth/**/*

plugins/loggly:
- changed-files:
  - any-glob-to-any-file: kong/plugins/loggly/**/*

plugins/oauth2:
- changed-files:
  - any-glob-to-any-file: kong/plugins/oauth2/**/*

plugins/prometheus:
- changed-files:
  - any-glob-to-any-file: kong/plugins/prometheus/**/*

plugins/proxy-cache:
- changed-files:
  - any-glob-to-any-file: kong/plugins/proxy-cache/**/*

plugins/rate-limiting:
- changed-files:
  - any-glob-to-any-file: kong/plugins/rate-limiting/**/*

plugins/request-size-limiting:
- changed-files:
  - any-glob-to-any-file: kong/plugins/request-size-limiting/**/*

plugins/request-termination:
- changed-files:
  - any-glob-to-any-file: kong/plugins/request-termination/**/*

plugins/request-transformer:
- changed-files:
  - any-glob-to-any-file: kong/plugins/request-transformer/**/*

plugins/response-ratelimiting:
- changed-files:
  - any-glob-to-any-file: kong/plugins/response-ratelimiting/**/*

plugins/response-transformer:
- changed-files:
  - any-glob-to-any-file: kong/plugins/response-transformer/**/*

plugins/session:
- changed-files:
  - any-glob-to-any-file: kong/plugins/session/**/*

plugins/serverless-functions:
- changed-files:
  - any-glob-to-any-file: ['kong/plugins/post-function/**/*', 'kong/plugins/pre-function/**/*']

plugins/statsd:
- changed-files:
  - any-glob-to-any-file: kong/plugins/statsd/**/*

plugins/syslog:
- changed-files:
  - any-glob-to-any-file: kong/plugins/syslog/**/*

plugins/tcp-log:
- changed-files:
  - any-glob-to-any-file: kong/plugins/tcp-log/**/*

plugins/udp-log:
- changed-files:
  - any-glob-to-any-file: kong/plugins/udp-log/**/*

plugins/zipkin:
- changed-files:
  - any-glob-to-any-file: kong/plugins/zipkin/**/*

plugins/opentelemetry:
- changed-files:
  - any-glob-to-any-file: kong/plugins/opentelemetry/**/*

plugins/app-dynamics:
- changed-files:
  - any-glob-to-any-file: kong/plugins/app-dynamics/**/*

plugins/application-registration:
- changed-files:
  - any-glob-to-any-file: kong/plugins/application-registration/**/*

plugins/canary:
- changed-files:
  - any-glob-to-any-file: kong/plugins/canary/**/*

plugins/degraphql:
- changed-files:
  - any-glob-to-any-file: kong/plugins/degraphql/**/*

plugins/exit-transformer:
- changed-files:
  - any-glob-to-any-file: kong/plugins/exit-transformer/**/*

plugins/forward-proxy:
- changed-files:
  - any-glob-to-any-file: kong/plugins/forward-proxy/**/*

plugins/graphql-proxy-cache-advanced:
- changed-files:
  - any-glob-to-any-file: kong/plugins/graphql-proxy-cache-advanced/**/*

plugins-ee/graphql-rate-limiting-advanced:
- changed-files:
  - any-glob-to-any-file: plugins-ee/graphql-rate-limiting-advanced/**/*

plugins/jq:
- changed-files:
  - any-glob-to-any-file: kong/plugins/jq/**/*

plugins/jwe-decrypt:
- changed-files:
  - any-glob-to-any-file: kong/plugins/jwe-decrypt/**/*

plugins/key-auth-enc:
- changed-files:
  - any-glob-to-any-file: kong/plugins/key-auth-enc/**/*

plugins/mocking:
- changed-files:
  - any-glob-to-any-file: kong/plugins/mocking/**/*

plugins/oauth2-introspection:
- changed-files:
  - any-glob-to-any-file: kong/plugins/oauth2-introspection/**/*

plugins/request-transformer-advanced:
- changed-files:
  - any-glob-to-any-file: kong/plugins/request-transformer-advanced/**/*

plugins/response-transformer-advanced:
- changed-files:
  - any-glob-to-any-file: kong/plugins/response-transformer-advanced/**/*

plugins/route-by-header:
- changed-files:
  - any-glob-to-any-file: kong/plugins/route-by-header/**/*

plugins/route-transformer-advanced:
- changed-files:
  - any-glob-to-any-file: kong/plugins/route-transformer-advanced/**/*

plugins/statsd-advanced:
- changed-files:
  - any-glob-to-any-file: kong/plugins/statsd-advanced/**/*

plugins/tls-handshake-modifier:
- changed-files:
  - any-glob-to-any-file: kong/plugins/tls-handshake-modifier/**/*

plugins/tls-metadata-headers:
- changed-files:
  - any-glob-to-any-file: kong/plugins/tls-metadata-headers/**/*

plugins/upstream-timeout:
- changed-files:
  - any-glob-to-any-file: kong/plugins/upstream-timeout/**/*

plugins/websocket-size-limit:
- changed-files:
  - any-glob-to-any-file: kong/plugins/websocket-size-limit/**/*

plugins/websocket-validator:
- changed-files:
  - any-glob-to-any-file: kong/plugins/websocket-validator/**/*

plugins/xml-threat-protection:
- changed-files:
  - any-glob-to-any-file: kong/plugins/xml-threat-protection/**/*

plugins/ai-proxy-advanced:
- changed-files:
  - any-glob-to-any-file: kong/plugins/ai-proxy-advanced/**/*

plugins-ee/ai-azure-content-safety:
- changed-files:
  - any-glob-to-any-file: plugins-ee/ai-azure-content-safety/**/*

plugins-ee/oas-validation:
- changed-files:
  - any-glob-to-any-file: plugins-ee/oas-validation/**/*

plugins-ee/jwt-signer:
- changed-files:
  - any-glob-to-any-file: plugins-ee/jwt-signer/**/*

plugins-ee/kafka-log:
- changed-files:
  - any-glob-to-any-file: plugins-ee/kafka-log/**/*

plugins-ee/kafka-upstream:
- changed-files:
  - any-glob-to-any-file: plugins-ee/kafka-upstream/**/*

plugins-ee/konnect-application-auth:
- changed-files:
  - any-glob-to-any-file: plugins-ee/konnect-application-auth/**/*

plugins-ee/ldap-auth-advanced:
- changed-files:
  - any-glob-to-any-file: plugins-ee/ldap-auth-advanced/**/*

plugins-ee/mtls-auth:
- changed-files:
  - any-glob-to-any-file: plugins-ee/mtls-auth/**/*

plugins-ee/opa:
- changed-files:
  - any-glob-to-any-file: plugins-ee/opa/**/*

plugins-ee/openid-connect:
- changed-files:
  - any-glob-to-any-file: plugins-ee/openid-connect/**/*

plugins-ee/proxy-cache-advanced:
- changed-files:
  - any-glob-to-any-file: plugins-ee/proxy-cache-advanced/**/*

plugins-ee/rate-limiting-advanced:
- changed-files:
  - any-glob-to-any-file: plugins-ee/rate-limiting-advanced/**/*

plugins-ee/ai-rate-limiting-advanced:
- changed-files:
  - any-glob-to-any-file: plugins-ee/ai-rate-limiting-advanced/**/*

plugins-ee/request-validator:
- changed-files:
  - any-glob-to-any-file: plugins-ee/request-validator/**/*

plugins-ee/saml:
- changed-files:
  - any-glob-to-any-file: plugins-ee/saml/**/*

plugins-ee/vault-auth:
- changed-files:
  - any-glob-to-any-file: plugins-ee/vault-auth/**/*

copyright:
- changed-files:
  - any-glob-to-any-file: COPYRIGHT

plugins/standard-webhooks:
- changed-files:
  - any-glob-to-any-file: kong/plugins/standard-webhooks/**/*

schema-change-noteworthy:
- changed-files:
  - any-glob-to-any-file: [
      'kong/db/schema/**/*.lua', 'kong/**/schema.lua', 'kong/plugins/**/daos.lua', 'plugins-ee/**/daos.lua', 'plugins-ee/**/schema.lua', 'kong/db/dao/*.lua', 'kong/enterprise_edition/redis/init.lua',
      'kong/llm/init.lua',
    ]

e2e-api-testing:
- changed-files:
  - any-glob-to-any-file: ['spec-ee/kong-api-tests/**/*', '.github/workflows/gateway-api-tests.yml', '.github/workflows/gateway-api-tests-matrix.yml', '.github/actions/gw-slack-results/action.yml']

build/bazel:
- changed-files:
  - any-glob-to-any-file: ['**/*.bazel', '**/*.bzl', 'build/**/*', 'WORKSPACE', '.bazelignore', '.bazelrc', '.bazelversion', 'scripts/build-*.sh']
